# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.pnp/
.pnp.js

# Expo
.expo/
.web/
android/
ios/
.expo-shared/
.expo-webpack/

# Misc
.DS_Thumbs
.env
*.env
*.env.*
! .env.example
